version: '3.8'
services:
  falkordb:
    image: falkordb/falkordb:latest
    container_name: falkordb
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - ./data/falkordb:/data
